:root {
    /*Cores do aplicativo*/
    --amarelo: #FECD1E;
    --amarelo-hover: #DDAD00;
    --cinza-escuro: #3E3B36;
    --branco-fumaca: #F5F5F5;
    --preto: #020202;
    --preto-opacidade: #020202DD;
}

body {
    font-size: 16px;
    font-family: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
    color: var(--cinza-escuro);
}

#navbar {
    background-color: #FECD1E;
}

#imagem-logo {
    height: 50px;
}

#inicio,
#comunidade,
#sobre-nos {
    font-weight: 400;
    text-decoration: none;
    text-decoration-line: none;
    color: var(--cinza-escuro);
    padding: 5px;
    transition: 0.5s;
}

#inicio:hover,
#comunidade:hover,
#sobre-nos:hover {
    background-color: var(--amarelo-hover);
    color: var(--branco-fumaca);
    border-radius: 5px;
}

#grupo-pesquisa {
    border: solid 2px var(--amarelo-hover);
    border-radius: 25px;
}
#input-pesquisa{
    border-radius: 25px 0 0 25px;
    background-color: var(--amarelo);
    border: 0;
    color: var(--preto);
}
#input-pesquisa::placeholder{
    color: var(--cinza-escuro);
    font-weight: 600;
}


#botao-cadastrar {
    background-color: #0000;
    width: 100px;
    color: var(--cinza-escuro);
    padding: 5px 10px;

    border-radius: 5px;
    font-weight: 800;
    transition: 0.5s;
}

#botao-logar {
    background-color: var(--cinza-escuro);
    width: 100px;
    color: var(--amarelo);
    padding: 5px 10px;
    border: solid 2px var(--cinza-escuro);
    border-radius: 5px;
    font-weight: 800;
    transition: 0.5s;
}

#botao-logar:hover,
#botao-cadastrar:hover {
    box-shadow: 0 0 0 7px var(--branco-fumaca);
}

#banner-corpo {
    background-image: url("../Imagens/banner_homepage.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#banner-titulo {
    color: var(--branco-fumaca);

}
#banner-subtitulo {
    color: var(--branco-fumaca);
}

#card-site {
    width: 400px;
    height: 320px;
    padding: 0;
    background-color: var(--cinza-escuro);
    color: var(--branco-fumaca);
}

#imagem-card {
    height: 220px;
    width: 398px;
}

#conteudo-card {
    height: 100px;
}

#botao-comunidade{
    background-color: var(--amarelo);
    color: var(--cinza-escuro);
    border-radius: 50px;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
}

.rodape {
    background-color: var(--cinza-escuro);
    color: var(--branco-fumaca);
}